📢 *Aviso* 📢
*Veículo:* $device.name
*Alerta:* Ignição Ligada.
*Data/Hora:* $dateTool.format('dd-MM-yyyy HH:mm:ss', $event.eventTime, $locale, $timezone)
*Endereço Aproximado:* $position.address
*Link da Localização (Google Maps):* https://www.google.com/maps/search/$position.latitude,$position.longitude
 
#if($device.expired)
*Aviso Automático*
Prezado(a) Sr.(a) *$user.name*, consta em nosso sistema fatura(s) em aberto.
 
Caso tenha dificuldade de efetuar o pagamento nos avise, para emitirmos o aviso para os técnicos, pois o *cancelamento do chip* é automático no sistema após *15 dias de atraso*.
 
*Caso o pagamento tenha sido efetuado, por favor, desconsidere esta mensagem.*
*Obrigado.*
#end